.todo-item {
  list-style-type: none;
  display: flex;
  align-items: center;
}

/* checkbox */
.todo-item :first-child {
  height: 22px;
  width: 22px;
  align-items: center;
}

/* todo content span */
.todo-item :nth-child(2) {
  width: 70%;
  margin-left: 10px;
  font-size: 22px;
}

/* delete icon */
.icons {
  align-self: center;
  padding-top: 5px;
}

.icons :hover {
  background-color: lightblue;
  cursor: pointer;
}
