/* TodoInput */
.todo-form {
  padding-left: 40px;
  padding-top: 20px;
}

.todo-input {
  width: 380px;
  height: 40px;
  border: 0px #999999 solid;
  border-radius: 3px;
  font-size: 18px;
  box-sizing: border-box;
}

.todo-input:focus {
  border: 2px lightskyblue solid;
  padding-left: 5px;
}

.todo-submit {
  height: 40px;
  border-radius: 3px;
}
