* {
  margin: 0;
  padding: 0;
  color: #333;
  text-decoration: none;
  list-style-type: none;
}

.text {
  margin-top: 10px;
  padding: 10px 0;
  text-align: center;
  animation: 1s ease-in-out forwards showanimation;
}

header {
  height: 150px;
  background-color: #333;
  text-align: center;
  color: whitesmoke;
  padding-top: 20px 0;
}

header h1 {
  position: relative;
  top: 0px;
  color: whitesmoke;
  font-size: 50px;
  animation: 1.5s ease-in forwards headeranimation;
}

@keyframes headeranimation {
  from {
    top: -200px;
  }
}

nav {
  margin-top: 30px;
}

nav .link-item {
  margin: 0 5px;
  padding: 10px 10px;
  color: whitesmoke;
  border: 1px whitesmoke solid;
  border-radius: 5px;
  animation: 1s ease-in-out forwards showanimation;
}

.container {
  width: 300px;
  height: 350px;
  margin: 20px auto;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title {
  margin: 10px auto;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #eed;
}

.container label {
  display: block;
  padding: 5px 0 5px 10px;
  margin-top: 5px;
}

.form-input {
  display: block;
  height: 20px;
  width: 90%;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin: auto;
}

.btn-container {
  margin: 5px auto;
  padding: 5px;
  height: 70px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.form-btn:nth-child(2) {
  color: cornflowerblue;
}

.todo-container {
  display: flex;
  flex-direction: column;
  animation: 1s ease-in-out forwards showanimation;
}

.todo-form {
  margin: 10px auto;
}

.todo-input {
  width: 300px;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding-left: 10px;
  transition: transform 0.5s ease;
}

.todo-input:focus {
  transform: scale(0.95);
}

.todo-list {
  margin: 0 auto;
  margin-top: 20px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-item {
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
  transition: transform 0.5s ease-in-out;
  animation: 0.6s ease-in forwards showanimation;
}

@keyframes showanimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.todo-item:hover {
  transform: scale(1.05);
}

.todo-item input[type="checkbox"] {
  transform: scale(1.3);
}

.todo-content {
  width: 200px;
  font-size: 20px;
}

.icon-wrapper {
  height: 25px;
  width: 25px;
}

.icon {
  width: 100%;
  height: 100%;
}

@media (max-width: 400px) {
  header {
    height: 150px;
  }

  header h1 {
    font-size: 30px;
    padding-top: 10px;
  }

  nav .link-item {
    font-size: 15px;
  }
}
